

.navbar{
    background-color: #1e201f;
}
.navbar a{
    color: rgb(189, 189, 189);
    font-weight: bold;
    font-size: large;
}
.navbar a:hover{
    color: rgb(255, 255, 255);
}
.btn1 {
    border-radius: 22px;
    width: 120px;
    opacity: 0.6;
    cursor: not-allowed;
    text-align: center;
    height: 40px;
    font-weight: bold;
}
.btn1:hover{
    opacity: 1;
}
.btn2 {
    border-radius: 22px;
    width: 120px;
    opacity: 0.7;
    cursor: not-allowed;
    text-align: center;
    height: 40px;
    font-weight: bold;
    background-color: #D34242;
}
.btn2:hover{
    opacity: 1;
}

.picbody{
    width: 100%;
    min-height: 60vh;
    padding-top: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: linear-gradient(270deg, rgba(211, 66, 66, 0.546875) 0.01%, #D34242 0.02%, rgba(114, 160, 130, 0) 100%), #E9A014;
}
#nametxt{
    font-size: clamp(16px,2.5vw,40px);
    padding-top: 60px;
}

.bg1{
    color: rgb(255, 255, 255);
    background-color: #282424;
    height: 1500px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    min-height: 60vh;
}
.bordertxt{
    border: solid 5px #E9A014;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    margin: 7%;
}
.box1{
    padding-top: 15px;
    float: left;
    text-align: justify;
    
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    color: rgb(214, 214, 214); 
    font-size: 16px;
}
.bordertxt2{
    border: solid 5px #E9A014;
    padding: 45px;
    display: inline-block;
    border-radius: 25px;
    margin: 7%;
}
.boxABOUT1{
    padding-top: 15px;
    float: left;
}
.bordertxt3{
    border: solid 5px #E9A014;
    padding: 45px;
    display: inline-block;
    border-radius: 25px;
    margin: 7%;
    background-color: #E9A014;
}
.boxACHIEVEMENT{
    padding-top: 15px;
    float: left;
    text-align: justify;
}

/* ช่องฝั่งขวา */
.ACHIEVEMENTpic{
    object-position: center;
}
.EXPERIENCE{
    border: solid 5px #E9A014;
    background-color: #E9A014;
    border-radius: 45px;
    text-align: center;
    color: aliceblue;
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}
.Etext1{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
   
}
#Ptxt{
    color: #1e201f;
    font-size: clamp(10px,2.5vw,20px);
    text-align: justify;

}
.cbody{
    margin-top: 6%;
}








/* ทดสอบ */
/* .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width :50%;
    display : flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0px;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: aliceblue;
    flex-direction: column;
} */



